<div class="section">
    <%= simple_form_for @post do |post|%>
   <div class= "field">
      <div calss= "control">
         <%= post.input :title, input_html: {class: 'input'}, wrapper: false, label_html: {class: 'label'}%>
      </div>
   </div>
   <div class= "field">
      <div calss= "control">
         <%= post.input :content, input_html: {class: 'textarea'}, wrapper: false, label_html: {class: 'label'}%>
      </div>
   </div>
   <%= post.button :submit, class: "button is-primary"%>
  <%end%>
</div>